@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

:root {
    --bg-beige: #FEF7EF;
    --bg-pink: #FEF2FE;
    --purple: #936CDF;
    --text: #4F4F4F;
    --blue: #0165C1;
    --orange: #F76B23;

    --playfair: 'Playfair Display', serif;

    --shadow-btn: 0 2px 15px rgba(0,0,0, .3);
}


/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-family: inherit;
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    font-family: var(--playfair);
    font-weight: bold;
}
p {
    line-height: 1.6;
    color: var(--text);
}
.btn {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--purple);
    color: white;
    box-shadow: var(--shadow-btn);
}

/* HEADER AND HERO */
header {
    background-color: var(--bg-beige);
    position: relative;
}
.navbar-brand {
    font-family: var(--playfair); 
    font-size: 3rem;
    font-weight: bold;
    margin-right: 5rem;
}
.navbar-nav {
    gap: 3rem;
    
}
.hero-content {
    padding: 6rem 0 10rem;
    width: 45%;
}
.hero-subtitle {
    color: var(--purple);
    letter-spacing: .2rem;
    /* font-weight: 600; */
}
.hero-title {
    font-size: 5rem;
}
.hero-title span {
    color: var(--purple);
}

.hero-img .hero-img__container {
    content: '';
    height: 300px;
    width: 250px;
    position: absolute;
}

.hero-img .hero-img__container:first-of-type {
    top: 0;
    right: 8rem;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    /* background: url(./img/hero-person1.png) no-repeat center/95%, var(--blue); */
    background: var(--blue);
}

.hero-img .hero-img__container:first-of-type::before {
    content: '';
    display: block;
    height: 100px;
    width: 200px;
    background: url(./img/navigation-svg-media-ui.jpg) no-repeat center/cover;
    z-index: 5;
    position: absolute;
    bottom: 4rem;
    left: -15rem;
}

.hero-img .hero-img__container:first-of-type::after {
    content: '';
    display: block;
    height: 300px;
    width: 250px;
    background: url(./img/hero-person1.png) no-repeat center/95%;
    z-index: 6;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
}

.hero-img .hero-img__container:last-of-type {
    bottom: 0;
    right: 30rem;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    background: url(./img/hero-person2.png) no-repeat center/90%, var(--orange);
}
.hero-img .hero-img__container:last-of-type::after {
    content: '';
    display: block;
    width: 50rem;
    height: 10rem;
    background: url(./img/title-svg-sound-wave.png) no-repeat center/60%;
    position: absolute;
    bottom: 5rem;
    right: -30rem;
}