@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

:root {
    --bg-beige: #FEF7EF;
    --bg-pink: #FEF2FE;
    --purple: #936CDF;
    --text: #4F4F4F;
    --blue: #0165C1;
    --orange: #F56823;
    --yellow: #E0A12C;
    --green: #1FAFA4;
    --green-valid: #1BD0C3;

    --green-bg-card: rgba(27, 208, 196, 0.2);
    --orange-bg-card: rgba(245, 105, 35, 0.2);
    --yellow-bg-card: rgba(224, 161, 44, 0.2);
    --purple-bg-card: rgba(146, 108, 223, 0.2);
    --playfair: 'Playfair Display', serif;

    --shadow-btn: 0 2px 15px rgba(0,0,0, .3);
}


/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-family: inherit;
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    font-family: var(--playfair);
    font-weight: bold;
}
p {
    line-height: 1.6;
    color: var(--text);
}
a {
    text-decoration: none;
    color: var(--text);
    transition: all .2s ease-in-out;
}
a:hover {
    color: var(--purple);
}
ul {
    list-style-type: none;
    padding: 0;
}
.btn {
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--purple);
    color: white;
    box-shadow: var(--shadow-btn);
    border: 2px solid var(--purple);
}
.btn:hover {
    background-color: transparent;
    color: var(--purple);
    border-color: var(--purple);
}

/* HEADER AND HERO */
header {
    background-color: var(--bg-beige);
    position: relative;
}
.navbar-brand {
    font-family: var(--playfair); 
    font-size: 3rem;
    font-weight: bold;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-brand img {
   padding-bottom: .5rem;
}
.navbar-brand p {
    color: black;
}
.navbar-nav {
    gap: 3rem;
}
.nav-link:hover {
    color: var(--purple);
}

.hero-content {
    padding: 2.5rem 0;
    width: 45%;
    position: relative;
}
.hero-subtitle {
    color: var(--purple);
    letter-spacing: .2rem;
    /* font-weight: 600; */
}
.hero-title {
    font-size: 5rem;
}
.hero-title span {
    color: var(--purple);
}
.hero-line {
    width: 30rem;
    position: absolute;
    top: 10.5rem;
    left: 5rem;
}
.hero-btns {
    gap: 10rem;
}

.hero-img .hero-img__container {
    content: '';
    height: 300px;
    width: 250px;
    position: absolute;
}

.hero-img .hero-img__container:first-of-type {
    top: 0;
    right: 8rem;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    /* background: url(./img/hero-person1.png) no-repeat center/95%, var(--blue); */
    background: var(--blue);
}

.hero-img .hero-img__container:first-of-type::before {
    content: '';
    display: block;
    height: 100px;
    width: 200px;
    background: url(./img/navigation-svg-media-ui.jpg) no-repeat center/cover;
    z-index: 5;
    position: absolute;
    bottom: 4rem;
    left: -15rem;
}

.hero-img .hero-img__container:first-of-type::after {
    content: '';
    display: block;
    height: 300px;
    width: 250px;
    background: url(./img/hero-person1.png) no-repeat center/95%;
    z-index: 6;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
}

.hero-img .hero-img__container:last-of-type {
    bottom: 0;
    right: 30rem;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    background: url(./img/hero-person2.png) no-repeat center/90%, var(--orange);
}
.hero-img .hero-img__container:last-of-type::after {
    content: '';
    display: block;
    width: 50rem;
    height: 10rem;
    background: url(./img/title-svg-sound-wave.png) no-repeat center/60%;
    position: absolute;
    bottom: 5rem;
    right: -30rem;
}
.btn-see i {
    color: var(--purple);
    font-size: 2.3rem;
}
.hero-users__img figure {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
    border: 2px solid white;
}
.hero-users__img figure:not(:first-of-type) {
    margin-left: -1.5rem;
}
.hero-users__content p {
    margin: 0;
    font-size: 1.3rem;
}

/* INFORMATION SECTION */
.info {
    background-color: var(--bg-pink);
    padding: 5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title span {
    color: var(--purple);
}
.section-title {
    font-size: 3rem;
    margin: 0;
}
.info-text {
    padding: 3rem;
    width: 60%;
    margin: 0 auto;
}
.info-card__container {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    padding: 0 5rem;
}
.info-card {
    position: relative;
    text-align: left;
    padding: 1rem 1rem 1rem 10rem;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    flex: 1;
}
.info-card:first-of-type {
    background-color: var(--orange);
}
.info-card:nth-of-type(2) {
    background-color: var(--yellow);
}
.info-card:last-of-type {
    background-color: var(--green);
}
.info-card__img {
    width: 12rem;
    position: absolute;
    left: -2rem;
    bottom: 0;
    z-index: 1;
}
.info-card:nth-of-type(2) .info-card__img {
    width: 14rem;
}
.info-card__title,
.info-card__text,
.btn-card {
    position: relative;
    color: black;
    z-index: 2;
}
.btn-card {
    background-color: black;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 11rem;
    padding: .5rem 1rem;
    color: white;
}
.btn-card:hover {
    background-color: transparent;
    border-color: black;
    color: black;
}

/* FEATURES SECTION */
.features {
    padding-top: 15rem;
    padding-bottom: 10rem;
    background-color: var(--bg-beige);
}
.features-content {
    flex: 30%;
}
.features-content ul li {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;
    color: black;
    font-weight: 600;
}
.features-content ul li i{
    color: var(--green-valid);
    font-size: 2.5rem;
}
.features-content .btn {
    width: max-content;
}
.features-img {
    flex: 40%;
    background-color: var(--purple);
    border-radius: 20px;
    height: 28rem;
    max-width: 50rem;
    position: relative;
}
.features-img__wave {
    position: absolute;
    width: 60rem;
    top: calc(50% - 12rem);
    left: -5rem;
}
.features-img__media {
    position: absolute;
    width: 18rem;
    top: -5rem;
    left: 5rem;
}
.features-img__girl {
    position: absolute;
    width: 20rem;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 20px;
}

/* SHARE SECTION */
.share {
    margin: 10rem 0;
    position: relative;
}
.share-bg {
    position: absolute;
    transform: rotate(60deg);
    width: 25rem;
    top: -5rem;
    left: -5rem;
}
.share-text {
    width: 70%;
}
.share-card__container {
    padding: 0 5rem;
}
.share-card {
    flex: 1;
}
.share-card__text {
    width: 80%;
}
.share-card__icon {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.share-card:nth-of-type(1) .share-card__icon {
    background-color: var(--green-bg-card);
    color: var(--green);
}
.share-card:nth-of-type(2) .share-card__icon {
    background-color: var(--orange-bg-card);
    color: var(--orange);
}
.share-card:nth-of-type(3) .share-card__icon {
    background-color: var(--yellow-bg-card);
    color: var(--yellow);
}
.share-card:nth-of-type(4) .share-card__icon {
    background-color: var(--purple-bg-card);
    color: var(--purple);
}


/* CATEGORIES SECTION */
.cat {
    background-color: var(--bg-beige);
    padding: 8rem 0;
}
.cat-hero__content {
    flex: 30%;
}
.cat-hero__options {
    flex: 70%;
}
.btn-option {
    border-color: black;
    border-width: 1px;
    background-color: transparent;
    color: black;
}
.cat-card__container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.cat-card {
    padding: 1rem 1.5rem;
    background: white;
    box-shadow: var(--shadow-btn);
    border-radius: 10px;
}
.cat-card__img {
    width: 10rem;
    border-radius: 5px;
}