@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

:root {
    --bg-beige: #FEF7EF;
    --bg-pink: #FEF2FE;
    --purple: #936CDF;
    --text: #4F4F4F;

    --playfair: 'Playfair Display', serif;
}


/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-family: inherit;
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    font-family: var(--playfair);
    font-weight: bold;
}
p {
    line-height: 1.6;
    color: var(--text);
}

/* HEADER AND HERO */
header {
    background-color: var(--bg-beige);
    position: relative;
}
.navbar-brand {
    font-family: var(--playfair); 
    font-size: 3rem;
    font-weight: bold;
    margin-right: 10rem;
}
.navbar-nav {
    gap: 3rem;
    
}
.hero-content {
    padding: 6rem 0 10rem;
    width: 45%;
}
.hero-subtitle {
    color: var(--purple);
    letter-spacing: .2rem;
    /* font-weight: 600; */
}
.hero-title {
    font-size: 5rem;
}
.hero-title span {
    color: var(--purple);
}

.hero-img {
    
}

.hero-img .hero-img__container:first-of-type {
    content: '';
    height: 300px;
    width: 250px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 10rem;

}