@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --green: #49A65F;
    --green-gradient-1: #60aa7884;
    --green-gradient-2: #85b39b8b;

    --shadow: 2px 2px 10px 0 rgba(0,0,0,.1);
    --grey: #e0e0e0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inter';
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: inherit;
}

p {
    margin: 0;
}

/* HEADER */
.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.nav-link:hover {
    color: var(--green);
}
.logo__img {
    width: 30px;
}
.logo {
    font-weight: bold;
    font-size: 2.5rem;
}
.logo span {
    color: var(--green);
}
.btn {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar-nav {
    gap: 5rem;
}
.btn-light,
.btn-dark:hover {
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
}
.btn-light:hover,
.btn-dark {
    background-color: var(--green);
    color: white;
    border: 1px solid transparent;
}
.dropdown-toggle::after {
    border: 0;
    vertical-align: -0.05em;
    margin-left: .5em;
    content:"\203A";
    transform: rotate(90deg);
    font-size: 2rem;
}
.sidebar i {
    color: var(--green);
}
.offcanvas-header h5 {
    font-size: 2rem
}
.sidebar {
    display: none;
}

/* HERO */
.hero {
    /* min-height: 90vh; */
    padding-top: 10rem;
    display: grid;
    place-items: center;
    gap: 5rem;
    margin-bottom: 10rem;
}
.hero__main {
    align-self: end;
}
.hero__content {
    flex: 48%;
}
.hero__video {
    flex: 48%;
    position: relative;
}
.hero__welcome {
    color: var(--green);
}
.hero__title {
    font-size: 5rem;
    font-weight: 600;
}

video {
    border-radius: 5px;
    border: none;
}
.video-btn.play {
    position: absolute;
    color: white;
    border: none;
    font-size: 3rem;
    line-height: 3rem;;
    background: var(--green);
    padding: 3rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 8px solid var(--green-gradient-1);
    box-shadow: 0 0 0px 5px var(--green-gradient-2);
    display: grid;
    place-content: center;
    z-index: 1;
}
.video-btn.pause {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    z-index: 2;
}
.video-btn i{
    margin-left: .5rem;
    z-index: 1;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.hero__cards {
    gap: 8rem;
    align-self: start;
}
.hero__cards.card-group .card {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 3rem 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: 1px solid var(--grey);

}
.card i {
    color: var(--green);
    font-size: 4rem;
}
.card .card-title {
    font-size: 2.6rem;
    font-weight: 600;
}
.card .card-body .card-text {
    margin-top: 1.5rem;
}




/* ABOUT */
.about {
    /* min-height: 94vh; */
    margin-bottom: 10rem;
}
.about__main {
    gap: 10rem;
}
.section__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.about__titles {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.about__btn {
    display: block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    transition: all .2s ease-in-out;
    opacity: .4;
}
.about__btn:hover {
    color: var(--green);
    border-color: var(--green);
    opacity: 1;
}
.about__btn:focus,
.about__btn.active {
    opacity: 1;
}
.about__texts .text {
    display: none;
}
.about__texts .text.active {
    display: flex;
}

.about__content {
    flex: 40%;
}
.about__images {
    flex: 30%;
    /* align-self: center; */
}
.about__images img {
    border-radius: 10px
}
/* Carousel buttons */
.carousel-control {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}
.carousel-control-prev,
.carousel-control-next {
    position: static;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
}

.carousel-control-prev-icon {
    background-image: url(./img/arrow-left-long-solid.svg);   
}
.carousel-control-next-icon {
   background-image: url(./img/arrow-right-long-solid.svg);
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    background-color: var(--green);
}
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-prev:focus .carousel-control-prev-icon {
    background-image: url(./img/arrow-left-solid.svg);
}
.carousel-control-next:hover .carousel-control-next-icon,
.carousel-control-next:focus .carousel-control-next-icon {
    background-image: url(./img/arrow-right-solid.svg);
}


/* PROJECTS */
section .btn {
    padding: .5rem 3rem;
}
.projects {
    margin-bottom: 10rem;
}
.projects__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20%;
    position: relative;
}
.projects__img {
    flex: 35%;
}
.projects__img img {
    border-radius: 10px;
}
.projects__content {
    flex: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.projects__title {
    font-size: 3rem;
    font-weight: 600;
}
.projects__card::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-size: 30rem;
    font-weight: bold;
    color: #f8f8f8;
    letter-spacing: 2rem;
    z-index: -1;
}
.projects__card:nth-of-type(2) .projects__img {
    order: 1;
}
.projects__card:nth-of-type(2) .projects__content {
    align-items: end;
    text-align: right;
}
.projects__card:nth-of-type(1)::before {
    content: '01';
}
.projects__card:nth-of-type(2)::before {
    content: '02';
}
.projects__card:nth-of-type(3)::before {
    content: '03';
}

/* SERVICES */
.services__main {
    margin-bottom: 10rem;
}
.services__card .col .card {
    padding: 2.5rem 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: 1px solid var(--grey);
} 
.services__card .col:nth-of-type(4) .card {
    padding: 2.5rem 3rem;
}


/* OPINIONS */
.opinions {
    margin-bottom: 10rem;
}
.opinions__card .col {
    flex-grow: 1;
}
.stars i {
    color: #F0F247;
    font-size: 1.2rem;
    vertical-align: middle;
}
.review-card {
    height: 100%;
    padding: 2.5rem 2rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: 1px solid var(--grey);
}
.review-card .card-title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONTACT */
.contact {
    margin-bottom: 5rem;
}
textarea {
    height: 200px;
}
.form-control {
    border-radius: 3px;
    box-shadow: var(--shadow);
    border: 1px solid var(--grey);
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
}
.form-control::placeholder {
    color: #a6a6a6;
}
.form-control:focus {
    border: 1px solid var(--green);
    background-color: transparent;
    box-shadow: var(--shadow);
}
form .btn-dark {
    width: 100%;
}
.location__links i {
    color: var(--green);
}
.location__links p {
    font-weight: 600;
}
.location__link {
    font-size: 1.2rem;
}

/* FOOTER */
.footer__nav {
    background-color: black;
} 

.footer__logo {
    color: white;
}
.footer__logo:hover {
    color: white;
}
.footer__nav p,
.footer__nav i {
    color: white;
    transition: all .2s ease-in-out;
}
.footer__nav .navbar-nav {
    flex-direction: row;
}
.footer__nav .nav-link:hover i {
    color: var(--green);
}



@media screen and (width <= 1200px) {
    .navbar-nav {
        gap: 1rem;
    }
}
@media screen and (width <= 1024px) {
    .language.navbar-nav {
        padding-left: 0!important;
    }
    body {
        margin-top: 15vh;
    }
    p {
        font-size: 1.4rem;
    }
    .hero {
        min-height: 85vh;
        gap: 2rem;
        margin-bottom: 5rem;
    }
    .hero__title {
        font-size: 3.6rem;
    }
    .hero__cards {
        gap: 2rem;
    }
    .card i {
        font-size: 2.5rem;
        
    }
    .hero__cards.card-group .card {
        /* gap: .5rem; */
        /* max-width: 99vw; */
        margin: 1rem auto;
    }
    .card .card-title {
        font-size: 2rem;
    }
    .card-body {
        padding: 0 .5rem;
    }
    .card .card-body .card-text {
        margin-top: 0;
    }
    .about__main {
        gap: 3rem;
        margin-bottom: 5rem;
    }
    .about__images {
        flex: 40%;
        padding-top: 5rem;
    }
    .section__title {
        font-size: 3rem;
    }
    .projects__main,
    .services__main,
    .opinions {
        margin-bottom: 5rem;
    }
    .projects__title {
        font-size: 2.5rem;
    }
    .card .card-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .card .card-text {
        font-size: 1.2rem;
    }
    .stars i {
        font-size: 1.1rem;
    }
    
}
@media screen and (width <= 992px) {
    body {
        margin-top: 0;
    }
    .hero {
        padding-top: 10rem;
        margin-bottom: 8rem;
        min-height: 0;
    }
    .language {
        display: none;
    }
    .sidebar {
        display: block;
    }
    .sidebar-btns {
        display: none;
    }
    .about__btn {
        padding: 1rem 9vw;
    }
    .about__images {
        padding-top: 0;
    }
    .projects__main {
        gap: 5rem!important;
    }
    .projects__card {
        flex-direction: column;
        gap: 3rem;
    }
    .projects__card:nth-of-type(2) .projects__img{
        order: -1;
    }
    .projects__card:nth-of-type(2) .projects__content {
        align-items: start;
        text-align: left;
    }
    .opinions__card .col:nth-of-type(3) {
        display: none;
    }
    iframe {
        height: 400px;
    }
}

@media screen and (width <= 600px) {
    body {
        overflow-x: hidden;
    }
    .header__nav {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .sidebar-btns {
        display: block;
    }
    .navbar__btns {
        display: none!important;
    }
    .hero__cards.card-group .card {
        padding: 1.5rem 0;
    }
    .about__btn {
        padding: 1rem 3rem;
    }
    .opinions__card .col:nth-of-type(2) {
        display: none;
    }
    footer .container {
        flex-direction: column;
    }
}
@media screen and (width <= 470px) {
    .about__btn {
        padding: 1rem 2rem;
    }
}

@media screen and (width <= 425px) {
    .footer__nav .container {
        justify-content: center;
        text-align: center;
    }
    .hero__title {
        font-size: 3rem;
    }
    .about__btn {
        padding: 1rem .5rem;
    }

}