@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --green: #49A65F;
    --green-gradient-1: #60aa7884;
    --green-gradient-2: #85b39b8b;

    --shadow: 2px 2px 10px 0 rgba(0,0,0,.1);
    --grey: #e0e0e0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inter';
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: inherit;
}

p {
    margin: 0;
}

/* HEADER */
.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.nav-link:hover {
    color: var(--green);
}
.logo__img {
    width: 30px;
}
.logo {
    font-weight: bold;
    font-size: 2.5rem;
}
.logo span {
    color: var(--green);
}
.btn {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar-nav {
    gap: 5rem;
}
.btn-light,
.btn-dark:hover {
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
}
.btn-light:hover,
.btn-dark {
    background-color: var(--green);
    color: white;
    border: 1px solid transparent;
}
.dropdown-toggle::after {
    border: 0;
    vertical-align: -0.05em;
    margin-left: .5em;
    content:"\203A";
    transform: rotate(90deg);
    font-size: 2rem;
}
@media screen and (width <= 1140px) {
    .navbar-nav {
        gap: 1rem;
    }
}
@media screen and (width <= 992px) {
    .language {
        display: none;
    }

}
body {
    margin-top: 6vh;
}
/* HERO */
.hero {
    min-height: 94vh;
    display: grid;
    place-items: center;
    gap: 5rem;
}
.hero__main {
    align-self: end;
}
.hero__content {
    flex: 45%;
}
.hero__video {
    flex: 45%;
    position: relative;
}
.hero__welcome {
    color: var(--green);
}
.hero__title {
    font-size: 5rem;
    font-weight: 600;
}

video {
    border-radius: 5px;
    border: none;
}
.video-btn.play {
    position: absolute;
    color: white;
    border: none;
    font-size: 3rem;
    line-height: 3rem;;
    background: var(--green);
    padding: 3rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 8px solid var(--green-gradient-1);
    box-shadow: 0 0 0px 5px var(--green-gradient-2);
    display: grid;
    place-content: center;
    z-index: 1;
}
.video-btn.pause {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    z-index: 2;
}
.video-btn i{
    margin-left: .5rem;
    z-index: 1;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.hero__cards {
    gap: 8rem;
    align-self: start;
}
.hero__cards.card-group .card {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 3rem 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: 1px solid var(--grey);

}
.card i {
    color: var(--green);
    font-size: 4rem;
}
.card .card-title {
    font-size: 2.6rem;
    font-weight: 600;
}
.card .card-body .card-text {
    margin-top: 1.5rem;
}


/* ABOUT */
.about {
    /* min-height: 94vh; */
    margin-bottom: 10rem;
}
.about__main {
    gap: 10rem;
}
.section__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.about__titles {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.about__btn {
    display: block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    transition: all .2s ease-in-out;
    opacity: .4;
}
.about__btn:hover {
    color: var(--green);
    border-color: var(--green);
    opacity: 1;
}
.about__btn:focus,
.about__btn.active {
    opacity: 1;
}
.about__texts .text {
    display: none;
}
.about__texts .text.active {
    display: flex;
}

.about__content {
    flex: 40%;
}
.about__images {
    flex: 30%;
}
.about__images img {
    border-radius: 10px
}
/* Carousel buttons */
.carousel-control {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}
.carousel-control-prev,
.carousel-control-next {
    position: static;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
}

.carousel-control-prev-icon {
    background-image: url(./img/arrow-left-long-solid.svg);   
}
.carousel-control-next-icon {
   background-image: url(./img/arrow-right-long-solid.svg);
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    background-color: var(--green);
}
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-prev:focus .carousel-control-prev-icon {
    background-image: url(./img/arrow-left-solid.svg);
}
.carousel-control-next:hover .carousel-control-next-icon,
.carousel-control-next:focus .carousel-control-next-icon {
    background-image: url(./img/arrow-right-solid.svg);
}
